*.o
*.a
*.so
_obj
_test
*.[568vq]
[568vq].out
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.exe
*.exe~
*.test
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*nohup.out
*settings.pyc
*.sublime-project
*.sublime-workspace
!.gitkeep
.DS_Store
/.idea
/.vscode
/output
*.local.yml
/venv
.idea
.devcontainer

# OS
Thumbs.db

# IDE
.project
.classpath
.sts4-cache/
.history/
.settings

# Local environment variables
.env
.env.*
!.env.example
!.env.template

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
pytestdebug.log

# Temporary files & Caches
.tmp/
.cache/
*.cache
.php_cs.cache
.swp

# Go
vendor/

## Profiling data
*.prof